= form_for(@payment) do |f|
  = if @payment.errors.any?
    #error_explanation
      %h2
        = pluralize(@payment.errors.count, "error")
        prohibited this payment from being saved:
      %ul
        = @payment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :token
    %br
    = f.text_field :token
  .actions
    = f.submit