:javascript
  $(document).ready(function(){
     $('.collapsible').collapsible({
       accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
     });
     //INITIALIZE EXPIRATION DATE DROP DOWN MENUS WITHIN CC FORM
     $('select').material_select();
     //INITIALIZE TOOLTIP ON CVC FIELD WITHIN CC FORM
     $('.tooltipped').tooltip({delay: 40});
   });

%h1 New Payment
= render 'form'
= link_to 'Back', payments_path
.payment-options
  %ul{class: "collapsible popout", data: {collapsible: "accordion"}}
    %li
      .collapsible-header
        = image_tag('creditcard-logo.png', class: 'creditcard-logo', alt: 'Credit card')
        %p.payment-well-text
          PAY WITH CREDIT CARD
          %span.caret ▼
      .collapsible-body
        .row
          = render '/payments/cc_form/cc_form'
    %li
      .collapsible-header
        = image_tag('sofort-logo.png', class: 'sofort-logo', alt: 'Sofort')
        %p.payment-well-text
          PAY WITH SOFORT ÜBERWEISUNG
          %span.caret ▼
      .collapsible-body
        %p Lorem ipsum dolor sit amet
    %li
      .collapsible-header
        =image_tag('paypal-logo.png', class: 'paypal-logo', alt: 'PayPal')
        %p.payment-well-text
          PAY WITH PAYPAL
          %span.caret ▼
      .collapsible-body
        %p Lorem ipsum dolor sit amet
